#cloud-config

package_update: true
package_upgrade: true

groups:
  - developer
  - docker

users:
  - default
  - name: developer
    gecos: Developer User
    primary_group: developer
    groups:
      - docker
    ssh_import_id:
      - gh:lmarqs
    lock_passwd: false
    passwd: '$6$BH/Uf.zD/d1OGI..$93VM/q5r0uh.weArZPOQgmyOyLODQHtZSEDwmMcoEG.5TtNaEj2v6ZOEu9r6Y9p/UIcRFvmnSBphyanw0Bgcc/'
    sudo: ALL=(ALL) NOPASSWD:ALL

packages:
  - apt-transport-https
  - ca-certificates
  - curl
  - fzf
  - git-gui
  - gitk
  - gnupg
  - gpg
  - lsb-release
  - unattended-upgrades
  - wget

runcmd:
  - curl -fsSL https://get.docker.com | bash
  - sudo systemctl stop docker.socket
  - sudo systemctl disable docker.socket

  - su - ubuntu -c 'curl -fsSL https://mise.run | sh'
  - su - ubuntu -c 'sh -c "mise use --global aws-vault"'
  - su - ubuntu -c 'sh -c "mise use --global aws-cli"'

  - sudo mkdir -p /etc/apt/keyrings
  - curl -fsSL https://us-central1-apt.pkg.dev/doc/repo-signing-key.gpg | sudo gpg --dearmor -o /etc/apt/keyrings/antigravity-repo-key.gpg
  - echo "deb [signed-by=/etc/apt/keyrings/antigravity-repo-key.gpg] https://us-central1-apt.pkg.dev/projects/antigravity-auto-updater-dev/ antigravity-debian main" | sudo tee /etc/apt/sources.list.d/antigravity.list > /dev/null
  - sudo apt update -y
  - sudo apt install -y antigravity

final_message: "The system is finally up, after $UPTIME seconds"
