#cloud-config

package_update: true
package_upgrade: true

groups:
  - developer
  - docker

users:
  - default
  - name: developer
    gecos: Developer User
    primary_group: developer
    groups:
      - docker
    ssh_import_id:
      - gh:lmarqs
    lock_passwd: false
    passwd: '$6$BH/Uf.zD/d1OGI..$93VM/q5r0uh.weArZPOQgmyOyLODQHtZSEDwmMcoEG.5TtNaEj2v6ZOEu9r6Y9p/UIcRFvmnSBphyanw0Bgcc/'
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash

packages:
  - apt-transport-https
  - ca-certificates
  - curl
  - fzf
  - git-gui
  - gitk
  - gnupg
  - gpg
  - lsb-release
  - unattended-upgrades
  - wget
  - zsh

runcmd:
  - curl -fsSL https://get.docker.com | bash
  - sudo systemctl stop docker.socket
  - sudo systemctl disable docker.socket

  - su - ubuntu -c 'curl -fsSL https://mise.run | sh'
  - su - ubuntu -c 'curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh | sh'
  - su - ubuntu -c 'zsh -c "mise use aws-vault"'
  - su - ubuntu -c 'zsh -c "mise use aws-cli"'
  - su - ubuntu -c 'zsh -c "mise use --global terraform@1.9.8"'

final_message: "The system is finally up, after $UPTIME seconds"
